body {
  background-color: #f1e2e7;
}
table {
  padding: 30px 60px;
  background-color: white;
  margin-top: -15px;
  margin: 0px auto;
  float: none;
  -webkit-box-shadow: 0px 7px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 5px 1px rgba(0, 0, 0, 0.75);
}
.navbar {
  background-color: #5390b8;
}

.page-footer {
  background-color: #5390b8;
  color: white;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
