<footer class="page-footer font-small blue pt-4 fixed-bottom">

    <div class="container-fluid text-center text-md-left">

        <div class="row">

            <div class="col-md-6 mt-md-0 mt-3 ">

                <h5 class="text-uppercase">
                    <a href="https://gitlab.com/quincyWarnert">Lab</a>
                </h5>
                <p>crud application - Quincy Warnert</p>

            </div>

        </footer>