{% extends 'base.html.twig'%}
{% block title %}Wetten en Beschrijving
    {% endblock%}
    {% block body%}
        <h1>{{wet.title}}</h1>
        <p>{{wet.Beschrijving}}</p>
        <hr>
        <a href="/">Terug</a>
    {% endblock %}