{% extends 'base.html.twig'%}
{% block title %}Wetten en Beschrijving Crud
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="/css/global.css">
{% endblock %}

{% block body%}
    {% if wetten %}
        <table id="wet" class="table col-md-6 ">
            <thead>
                <tr>
                    <th>Wetten en Beschrijving</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                {% for wet in wetten %}
                    <tr>
                        <td>{{wet.title}}</td>
                        <td>
                            <a href="/wet/{{wet.id}}" class="btn btn-primary">Read</a>
                            <a href="/wet/edit/{{ wet.id }}" class="btn btn-light">Edit</a>
                            <a href="#" class="btn btn-danger delete-wet" data-id="{{ wet.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Geen wet(ten) gevonden</p>
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}